
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #4caf50;
  color: white;
}